<body class="px-5 py-5">
  <div class="first-card flex justify-evenly">
    <div class="card w-50 bg-red-600">
      <div class="card-body flex justify-center">
        <div class="number-dashboard flex">
          <h1 class="card-title text-4xl text-white">1</h1>
        </div>
        <div class="title-dashboard flex">
          <h1 class="card-title text-white text-1xl">
            Total No. of Vaccinated Individuals
          </h1>
        </div>
      </div>
    </div>
    <div class="card w-50 bg-red-600">
      <div class="card-body flex justify-center">
        <div class="number-dashboard flex">
          <h1 class="card-title text-4xl text-white">1</h1>
        </div>
        <div class="title-dashboard flex">
          <h1 class="card-title text-white text-1xl">
            Available Human Rabies Vaccines
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="second-card flex px-7">
    <div class="card w-full bg-red-600 h-100">
      <div class="card-body flex justify-center">
        <div class="number-dashboard flex">
          <h1 class="card-title text-4xl text-white">1</h1>
        </div>
        <div class="title-dashboard flex">
          <h1 class="card-title text-white text-1xl">
            Total No. of Vaccinated Individuals
          </h1>
        </div>
      </div>
    </div>
  </div>

</body>
