<app-full-page-loader />
<body class="px-5 py-5">
  <div class="first-card flex justify-start px-7">
    <div class="card w-50 bg-red-600 drop-shadow-lg mr-3">
      <div class="card-body flex justify-center mr-3">
        <div class="number-dashboard flex">
          <h1 class="card-title text-4xl text-white">1</h1>
        </div>
        <div class="title-dashboard flex">
          <h1 class="card-title text-white text-1xl">
            Total No. of Vaccinated Individuals
          </h1>
        </div>
      </div>
    </div>
    <ng-container *appHasRole="['abtc']">
      <div class="card w-50 mr-10 bg-red-600 drop-shadow-lg " >
        <div class="card-body flex justify-center">
          <div class="number-dashboard flex">
            <h1 class="card-title text-4xl text-white">
              {{ this.humanVacCount() }}
            </h1>
          </div>
          <div class="title-dashboard flex">
            <h1 class="card-title text-white text-1xl">
              Available Human Rabies Vaccines
            </h1>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <app-piegraph />
  
</body>
