<div
  class="relative z-10"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div
    class="fixed inset-0 z-10 w-screen flex items-center sm:flex sm:items-center sm:justify-center sm:h-full"
  >
    <div
      class="flex items-end justify-center p-4 text-center sm:items-center sm:flex sm:p-0"
    >
      <form
        class="w-full flex justify-center items-center"
        [formGroup]="labForm"
      >
        <div
          class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all s sm:my-8 sm:w-90 sm:max-w-6xl md:max-w-6xl"
        >
          <div
            class="bg-white h-[90vh] px-4 pb-4 pt-5 sm:p-6 sm:pb-4 md:overflow-x-scroll md:h-[70vh]"
          >
            <h1
              class="text-2xl flex items-start font-extrabold text-slate-600 mb-2"
            >
              Clinical Laboratory Report
            </h1>
            <div class="flex gap-2">
              <div class="sm:flex sm:items-center w-full">
                <label class="form-control w-full">
                  <div class="label">
                    <span class="label-text">Lab Accession</span>
                  </div>
                  <input
                    type="string"
                    formControlName="labAccession"
                    placeholder="Enter Lab Accession"
                    class="input input-bordered w-full"
                  />
                </label>
              </div>
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Date Recieved</span>
                    </div>
                    <input
                      [value]="labForm.get('dateReported')?.value | date: 'MMM dd, yyyy'"
                      type="text"
                      class="input input-bordered w-full"
                      disabled
                    />
                  </label>
                </div>
              </div>
            </div>
            <h1
              class="text-2xl flex items-start font-extrabold text-slate-600 mb-2"
            >
              Client Information
            </h1>

            <div class="grid grid-cols-3 gap-3">
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Owner</span>
                    </div>
                    <input
                      type="string"
                      formControlName="owner"
                      placeholder="Enter Owner"
                      class="input input-bordered w-full"
                    />
                  </label>
                </div>
              </div>
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Address</span>
                    </div>
                    <input
                      type="string"
                      formControlName="address"
                      placeholder="Enter Address"
                      class="input input-bordered w-full"
                    />
                  </label>
                </div>
              </div>
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Contact Number</span>
                    </div>
                    <input
                      type="string"
                      formControlName="contactNumber"
                      placeholder="Enter Contact Number"
                      class="input input-bordered w-full"
                    />
                  </label>
                </div>
              </div>
            </div>
            <div class="grid grid-cols-3 gap-3">
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Sender</span>
                    </div>
                    <input
                      type="string"
                      formControlName="sender"
                      placeholder="Enter Sender"
                      class="input input-bordered w-full"
                    />
                  </label>
                </div>
              </div>
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Sender Address</span>
                    </div>
                    <input
                      type="string"
                      formControlName="senderAddress"
                      placeholder="Enter Address"
                      class="input input-bordered w-full"
                    />
                  </label>
                </div>
              </div>
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Email</span>
                    </div>
                    <input
                      type="string"
                      formControlName="email"
                      placeholder="Enter Email"
                      class="input input-bordered w-full"
                    />
                  </label>
                </div>
              </div>
            </div>
            <h1
              class="text-2xl flex items-start font-extrabold text-slate-600 mb-2"
            >
              Specimen Information
            </h1>
            <div class="grid grid-cols-3 gap-3">
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Specimen</span>
                    </div>
                    <input
                      type="string"
                      formControlName="specimen"
                      placeholder="Enter Specimen"
                      class="input input-bordered w-full"
                    />
                  </label>
                </div>
              </div>
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Species</span>
                    </div>
                    <input
                      type="string"
                      formControlName="species"
                      placeholder="Enter Species"
                      class="input input-bordered w-full"
                    />
                  </label>
                </div>
              </div>
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Breed</span>
                    </div>
                    <input
                      type="string"
                      formControlName="breed"
                      placeholder="Enter Breed"
                      class="input input-bordered w-full"
                    />
                  </label>
                </div>
              </div>
            </div>
            <div class="grid grid-cols-2 gap-3">
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Age(Months)</span>
                    </div>
                    <input
                      type="number"
                      formControlName="age"
                      placeholder="Enter Age"
                      class="input input-bordered w-full"
                    />
                  </label>
                </div>
              </div>
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Sex</span>
                    </div>
                    <input
                      type="string"
                      formControlName="gender"
                      placeholder="Enter Sex"
                      class="input input-bordered w-full"
                    />
                  </label>
                </div>
              </div>
            </div>
            <h1
              class="text-2xl flex items-start font-extrabold text-slate-600 mb-2"
            >
              Result
            </h1>
            <div>
              <div class="sm:flex sm:items-center w-full">
                <label class="form-control w-full">
                  <div class="label">
                    <span class="label-text">Test Method</span>
                  </div>
                  <input
                    type="string"
                    formControlName="testMethod"
                    placeholder="Enter Species"
                    class="input input-bordered w-full"

                  />
                </label>
              </div>
            </div>
            <div class="grid grid-cols-2 gap-2">
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text"
                        >Flourescent Antibody Test(FAT):</span
                      >
                    </div>
                    <input
                      type="string"
                      formControlName="fat"
                      placeholder="Enter  FAT"
                      class="input input-bordered w-full"
                    />
                  </label>
                </div>
              </div>
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Recommendation</span>
                    </div>
                    <input
                      type="string"
                      formControlName="recommendation"
                      placeholder="Enter  Recommendation"
                      class="input input-bordered w-full"
                    />
                  </label>
                </div>
              </div>
            </div>
            <div class="grid grid-cols-2 gap-2">
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Diagnosis</span>
                    </div>
                    <select
                      class="select select-bordered w-full"
                      formControlName="diagnosis"
                    >
                      <option value="" disabled selected>
                        Please Select Gender
                      </option>
                      <option value="Positive">Positive</option>
                      <option value="Negative">Negative</option>
                    </select>
                  </label>
                </div>
              </div>
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Remarks</span>
                    </div>
                    <input
                      type="string"
                      formControlName="remarks"
                      placeholder="Enter  Remarks"
                      class="input input-bordered w-full"

                    />
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">

            <button
              type="button"
              class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
              (click)="this.modalEvent.emit(false)"
            >
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
