<app-full-page-loader />
<div class="table-container w-full">
  <div class="flex flex-row justify-between w-full">
    <div class="search w-full flex items-center justify-start">
      <div class="search-input">
        <input
          type="text"
          placeholder="Search Data"
          class="input input-bordered w-full max-w-xs"
          [(ngModel)]="searchText"
        />
      </div>
      <button
        class="btn btn-square border-none text-white ml-1"
        [ngClass]="themeColor"
        (click)="applyFilter()"
      >
        <app-loadingbutton *ngIf="isLoadingButton()" />
        <i class="fa-solid fa-magnifying-glass" *ngIf="!isLoadingButton()"></i>
      </button>
      <ng-container *appHasRole="['abtc']">
        <button
          [ngClass]="themeColor"
          class="btn text-white border-none ml-1"
          (click)="this.modalAdd.set(true)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 6v12m6-6H6"
            />
          </svg>
          Add
        </button>
      </ng-container>
      <app-exportexcelbtn
        [data]="this._animalbite.aniList()"
        [fileName]="fileName"
        [themeColor]="themeColor"
      />
    </div>
  </div>
  <div class="card overflow-auto">
    <!-- <div class="relative"> -->
    <table class="table user-table">
      <thead class="text-stone-600 text-center">
        <tr class="sticky top-0 bg-white">
          <th class="py-1">Patient ID</th>
          <th class="py-1">Name</th>
          <th class="py-1">Address</th>
          <th class="py-1">Type of Animal</th>
          <th class="py-1">Date Bitten</th>
          <th class="py-1 sticky right-0">Action</th>
        </tr>
      </thead>
      <tbody class="table-body">
        @for(user of items; track $index){
        <tr>
          <td>
            <div class="flex justify-center">{{ user.AnimalBiteId }}</div>
          </td>
          <td>
            <div class="font-bold flex justify-center">
              {{ user.patientName }}
            </div>
          </td>
          <td>
            <div class="flex justify-center">{{ user.Address }}</div>
          </td>
          <td>
            <div class="flex justify-center">{{ user.typeOfAnimal }}</div>
          </td>
          <td>
            <div class="flex flex-row justify-center items-center">
              {{ user.dateBitten | date : "MMM, dd, yyyy" }}
            </div>
          </td>
          @if (this._auth.userInfo?.accountType == 'abtc') {
          <td class="w-2 p-3 sticky right-0">
            <div class="flex justify-center">
              <button
                class="btn btn-square btn-sm ml-1"
                (click)="openViewModal(user.AnimalBiteId)"
              >
                <i class="fa-solid fa-eye"></i>
              </button>
              <button
                class="btn btn-square btn-sm ml-1"
                (click)="openEditModal(user.AnimalBiteId)"
              >
                <i class="fa-solid fa-pen"></i>
              </button>
              <button
                class="btn btn-square btn-sm ml-1 mr-1"
                (click)="delete(user.AnimalBiteId)"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </td>
          } @else {
          <td class="w-2 p-3 sticky right-0">
            <div class="flex justify-center">
              <button
                class="btn btn-square btn-sm ml-1"
                (click)="openViewModal(user.AnimalBiteId)"
              >
                <i class="fa-solid fa-eye"></i>
              </button>
            </div>
          </td>
          }
        </tr>
        } @empty {
        <tr>
          <td colspan="6" class="text-center">No Data</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
@if (modalAdd()) {
<app-addanimalbite
  (modalEvent)="this.modalAdd.set($event)"
  (getAllMethod)="getAllAnimalBite()"
/>
} @else if (modalView()) {
<app-viewanimalbite
  (modalEvent)="this.modalView.set($event)"
  (getAllMethod)="getAllAnimalBite()"
  [animalBiteInfo]="animalBiteInfo"
/>
} @else if (modalEdit()) {
<app-editanimalbite
  (modalEvent)="this.modalEdit.set($event)"
  (getAllMethod)="getAllAnimalBite()"
  [animalBiteInfo]="animalBiteInfo"
/>
}
