<app-full-page-loader />
<div class="table-container w-full">
  <div class="flex flex-row justify-between w-full">
    <div class="search w-full flex items-center justify-start">
      <ng-container *appHasRole="['abtc']">
        <button
          [ngClass]="themeColor"

          class="btn  text-white border-none"
          (click)="this.modalAdd.set(true)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 6v12m6-6H6"
            />
          </svg>
          Add
        </button>
      </ng-container>
      <app-exportexcelbtn [data]="this._animalbite.aniList()" [fileName]="fileName" [themeColor]="themeColor"/>
    </div>

  </div>
  <div class="card overflow-auto">
    <!-- <div class="relative"> -->
    <table class="table-auto table user-table">
      <thead class="text-stone-600 text-center">
        <tr class="sticky top-0 bg-white">
          <th class="py-1">Patient ID</th>
          <th class="py-1">Name</th>
          <th class="py-1">Address</th>
          <th class="py-1">Type of Animal</th>
          <th class="py-1">Date Bitten</th>
          <ng-container *appHasRole="['abtc']">
            <th class="py-1">Action</th>
          </ng-container>
        </tr>
      </thead>
      <tbody class="table-body">
        @for(user of _animalbite.aniList(); track $index){
        <tr>
          <td>
            <div class="flex justify-center">{{ user.AnimalBiteId }}</div>
          </td>
          <td>
            <div class="font-bold flex justify-center">{{ user.patientName }}</div>
          </td>
          <td>
            <div class="flex justify-center">{{ user.Address }}</div>
          </td>
          <td>
            <div class="flex justify-center">{{ user.typeOfAnimal }}</div>
          </td>
          <td >
            <div class="flex flex-row justify-center items-center">
              {{ user.dateBitten | date : "MMM, dd, yyyy" }}
            </div>
          </td>
          <ng-container *appHasRole="['abtc']">
            <td class="w-10">
              <div class="dropdown dropdown-left 2xl:dropdown-left">
                <div tabindex="0" role="button" class="btn">Action</div>
                <ul
                  tabindex="0"
                  class="dropdown-content z-[1] menu p-2 shadow bg-base-200 rounded-box w-24"
                >
                  <li><a (click)="openViewModal(user.AnimalBiteId)">View</a></li>
                  <li><a (click)="openEditModal(user.AnimalBiteId)" *appHasRole="['abtc']">Edit</a></li>
                  <li><a (click)="delete(user.AnimalBiteId)" *appHasRole="['abtc']">Delete</a></li>
                </ul>
              </div>
            </td>
          </ng-container>

        </tr>
        } @empty {
        <tr>
          <td colspan="6" class="text-center">No Data</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
@if (modalAdd()) {
<app-addanimalbite
  (modalEvent)="this.modalAdd.set($event)"
  (getAllMethod)="getAllAnimalBite()"
/>
} @else if (modalView()) {
<app-viewanimalbite
  (modalEvent)="this.modalView.set($event)"
  (getAllMethod)="getAllAnimalBite()"
  [animalBiteInfo]="animalBiteInfo"
/>
} @else if (modalEdit()) {
<app-editanimalbite
  (modalEvent)="this.modalEdit.set($event)"
  (getAllMethod)="getAllAnimalBite()"
  [animalBiteInfo]="animalBiteInfo"
/>
}
