<div class="table-container w-full">
  <div class="flex flex-row justify-between w-full">
    <div class="search w-full flex items-center justify-start">
      <div class="search-input">
        <input
          type="text"
          placeholder="Search for an Event"
          class="input input-bordered w-full max-w-xs"
        />
      </div>
      <button class="btn btn-square bg-red-600 border-none hover:bg-red-700 text-white ml-1">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      <button class="btn btn-square bg-red-600 border-none hover:bg-red-700 text-white ml-1">
        <i class="fa-solid fa-download"></i>
      </button>
    </div>

    <button
      class="btn bg-red-600 border-none hover:bg-red-700 text-white"
      (click)="this.avacModalAddInject.set(true)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 6v12m6-6H6"
        />
      </svg>
      Add Animal Vaccine
    </button>
  </div>
  <div class="card max-h-[450px] overflow-y-scroll overflow-x-hidden">
    <!-- <div class="relative"> -->
    <table class="table-auto user-table">
      <thead class="text-stone-600 text-center">
        <tr class="sticky top-0 bg-white">
          <th class="px-2 py-2">Vaccine Name</th>
          <th class="px-2 py-2">Brand Name</th>
          <th class="px-2 py-2">Stock Quantity</th>
          <th class="px-2 py-2">Dosage</th>
          <th class="px-2 py-2">Date Expired</th>
          <th class="px-2 py-2">Action</th>
        </tr>
      </thead>
      <tbody>
        @for(vaccine of _avacInjectList.avacInjectList(); track $index){
        <tr>
          <td>
            <div class="font-bold flex justify-center">
              {{ vaccine.vacName }}
            </div>
          </td>
          <td>
            <div class="font-bold flex justify-center">
              {{ vaccine.brandName }}
            </div>
          </td>
          <td>
            <div class="flex justify-center">
              {{ vaccine.dosage }}
            </div>
          </td>
          <td>
            <div class="flex justify-center">{{ vaccine.stockQuantity }}</div>
          </td>
          <td>
            <div class="flex flex-row justify-center items-center">
              {{ vaccine.expiryDate | date : "MMM, dd, yyyy" }}
            </div>
          </td>
          <td class="flex justify-center">
            <div class="dropdown dropdown-left">
              <div tabindex="0" role="button" class="btn m-1">Action</div>
              <ul
                tabindex="0"
                class="dropdown-content menu p-2 shadow bg-base-200 rounded-box w-40"
              >
                <li><a (click)="openAvacInjectViewModal()">View</a></li>
                <li><a (click)="openAvacEditInjectModal()">Edit Stocks Quantity</a></li>
              </ul>
            </div>
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="6" class="text-center">No Data</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

@if (avacModalAddInject()) {
  <app-add-animalinjection (modalEvent)="this.avacModalAddInject.set($event)"/>
}
