<app-full-page-loader />
<div class="table-container w-full">
  <div class="flex flex-row justify-between w-full">
    <div class="search w-full flex items-center justify-start">
      <app-exportexcelbtn [data]="this._avacInjectList.avacInjectList()" [fileName]="fileName" />
    </div>

    <button
      *appHasRole="['agri']"
      class="btn bg-red-600 border-none hover:bg-red-700 text-white"
      (click)="this.avacModalAddInject.set(true)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 6v12m6-6H6"
        />
      </svg>
      Add Data
    </button>
  </div>
  <div class="card overflow-y-scroll overflow-x-hidden">
    <!-- <div class="relative"> -->
    <table class="table-auto user-table table-zebra">
      <thead class="text-stone-600 text-center">
        <tr class="sticky top-0 bg-white">
          <th class="py-1">Owner Name</th>
          <th class="py-1">Pet Name</th>
          <th class="py-1">Species</th>
          <th class="py-2">Breed</th>
          <th class="py-2">Vaccinator</th>
          <ng-container *appHasRole="['agri']">
            <th class="py-2">Action</th>
          </ng-container>

        </tr>
      </thead>
      <tbody>
        @for(items of _avacInjectList.avacInjectList(); track $index){
        <tr>
          <td>
            <div class="font-bold flex justify-center py-2">
              {{ items.ownerName }}
            </div>
          </td>
          <td>
            <div class="font-bold flex justify-center py-2">
              {{ items.petName }}
            </div>
          </td>
          <td>
            <div class="flex justify-center py-2">
              {{ items.species }}
            </div>
          </td>
          <td>
            <div class="flex justify-center py-2">{{ items.vaccinator }}</div>
          </td>
          <td>
            <div class="flex flex-row justify-center items-center py-3">
              {{ items.vaccinator }}
            </div>
          </td>
          <ng-container *appHasRole="['agri']">
            <td class="flex justify-center">
              <div class="dropdown dropdown-left">
                <div tabindex="0" role="button" class="btn m-1">Action</div>
                <ul
                  tabindex="0"
                  class="dropdown-content menu p-2 shadow bg-base-200 rounded-box w-40"
                >
                  <li><a (click)="openAvacInjectViewModal(items.animalVaccinationId)">View</a></li>
                  <li>
                    <a (click)="openAvacEditInjectModal()">
                      Edit Data
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </ng-container>

        </tr>
        } @empty {
        <tr>
          <td colspan="6" class="text-center">No Data</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

@if (avacModalAddInject()) {
<app-add-animalinjection
  (modalEvent)="this.avacModalAddInject.set($event)"
  (getAllAnimalVaccinated)="getAllAnimalVacinated()"
/>

}
@else if (avacModalViewInject()) {
  <app-view-animalinjection
    (modalEvent)="this.avacModalViewInject.set($event)"
    (getAllAnimalVaccinated)="getAllAnimalVacinated()"
    [aInjectionInfo]="animalInjectionInfo" />
}
@else if(avacModalEditInject()){
  <app-edit-animalinjection
    (modalEvent)="this.avacModalEditInject.set($event)"
    (getAllAnimalVaccinated)="getAllAnimalVacinated()"
    [aInjectionInfo]="animalInjectionInfo" />
}
