<app-full-page-loader />
<div class="table-container w-full">
  <div class="flex flex-row justify-between w-full">
    <div class="search w-full flex items-center gap-1">
      <div class="search-input">
        <input
          type="text"
          placeholder="Search Data"
          class="input input-bordered w-full max-w-xs"
          [(ngModel)]="searchText"
        />
      </div>
      <button
        class="btn btn-square border-none text-white ml-1"
        [ngClass]="themeColor"
        (click)="applyFilter()"
      >
        <app-loadingbutton *ngIf="isLoadingButton()" />
        <i class="fa-solid fa-magnifying-glass" *ngIf="!isLoadingButton()"></i>
      </button>
      <app-exportexcelbtn
        [data]="this._avacInjectList.avacInjectList()"
        [fileName]="fileName"
        [themeColor]="themeColor"
      />
      <button
        *appHasRole="['agri']"
        class="btn text-white add-button"
        [ngClass]="themeColor"
        (click)="this.avacModalAddInject.set(true)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 6v12m6-6H6"
          />
        </svg>
        Add Data
      </button>
    </div>
  </div>
  <div class="card overflow-y-scroll overflow-x-hidden">
    <!-- <div class="relative"> -->
    <table class="table user-table">
      <thead class="text-stone-600 text-center">
        <tr class="sticky top-0 bg-white">
          <th class="py-1">ID</th>
          <th class="py-1">Owner Name</th>
          <th class="py-1">Pet Name</th>
          <th class="py-1">Species</th>
          <th class="py-2">Breed</th>
          <th class="py-2">Vaccinator</th>
          <th class="py-2 sticky right-0">Action</th>
        </tr>
      </thead>
      <tbody>
        @for(items of items; track $index){
        <tr>
          <td>
            <div class="font-bold flex justify-center py-2">
              {{ items.animalVaccinationId }}
            </div>
          </td>
          <td>
            <div class="font-bold flex justify-center py-2">
              {{ items.ownerName }}
            </div>
          </td>
          <td>
            <div class="font-bold flex justify-center py-2">
              {{ items.petName }}
            </div>
          </td>
          <td>
            <div class="flex justify-center py-2">
              {{ items.species }}
            </div>
          </td>
          <td>
            <div class="flex justify-center py-2">{{ items.vaccinator }}</div>
          </td>
          <td>
            <div class="flex flex-row justify-center items-center py-3">
              {{ items.vaccinator }}
            </div>
          </td>
          @if (this._auth.userInfo?.accountType == 'agri') {
          <td class="w-2 p-3 sticky right-0">
            <div class="flex justify-center">
              <button
                class="btn btn-square btn-sm ml-1"
                (click)="openAvacInjectViewModal(items.animalVaccinationId)"
              >
                <i class="fa-solid fa-eye"></i>
              </button>
              <button
                class="btn btn-square btn-sm ml-1"
                (click)="openAvacEditInjectModal(items.animalVaccinationId)"
              >
                <i class="fa-solid fa-pen"></i>
              </button>
              <button
                class="btn btn-square btn-sm ml-1 mr-1"
                (click)="deleteVacinated(items.animalVaccinationId)"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </td>
          } @else {
          <td class="w-2 p-3 sticky right-0">
            <div class="flex justify-center">
              <button
                class="btn btn-square btn-sm ml-1"
                (click)="openAvacInjectViewModal(items.animalVaccinationId)"
              >
                <i class="fa-solid fa-eye"></i>
              </button>
            </div>
          </td>
          }
        </tr>
        } @empty {
        <tr>
          <td colspan="6" class="text-center">No Data</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

@if (avacModalAddInject()) {
<app-add-animalinjection
  (modalEvent)="this.avacModalAddInject.set($event)"
  (getAllAnimalVaccinated)="getAllAnimalVacinated()"
/>

} @else if (avacModalViewInject()) {
<app-view-animalinjection
  (modalEvent)="this.avacModalViewInject.set($event)"
  (getAllAnimalVaccinated)="getAllAnimalVacinated()"
  [aInjectionInfo]="animalInjectionInfo"
/>
} @else if(avacModalEditInject()){
<app-edit-animalinjection
  (modalEvent)="this.avacModalEditInject.set($event)"
  (getAllAnimalVaccinated)="getAllAnimalVacinated()"
  [aInjectionInfo]="animalInjectionInfo"
/>
}
