@if ( isArchivedTable() ) {
<app-archived-rabies-submission
  (archivedTable)="this.isArchivedTable.set(false)"
  (getAllMethod)="triggerTable()"
/>
} @else {
<app-full-page-loader />
<div class="table-container w-full">
  <div class="flex flex-row justify-between w-full">
    <div class="search w-full flex items-center justify-start gap-1">
      <div class="search-input">
        <input
          type="text"
          placeholder="Search Data"
          class="input input-bordered w-full max-w-xs"
          [(ngModel)]="searchText"
        />
      </div>
      <button
        class="btn btn-square border-none text-white ml-1"
        [ngClass]="themeColor"
        (click)="applyFilter()"
      >
        <app-loadingbutton *ngIf="isLoadingButton()" />
        <i class="fa-solid fa-magnifying-glass" *ngIf="!isLoadingButton()"></i>
      </button>
      <app-exportexcelbtn
        [data]="this._rabiesS.rabiesList()"
        [fileName]="fileName"
        [themeColor]="themeColor"
      />
      <button
        *ngIf="_authS.userInfo?.accountType == 'lab'"
        class="btn border-none text-white ml-3"
        [ngClass]="themeColor"
        (click)="this.modalAddRabiesSubmission.set(true)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 6v12m6-6H6"
          />
        </svg>
        Add Data
      </button>
      <button
        *ngIf="_authS.userInfo?.accountType == 'lab'"
        class="btn border-none text-white ml-3"
        [ngClass]="themeColor"
        (click)="triggerTable()"
      >
        <i class="fa-solid fa-trash-can"></i>
        View Archived Data
      </button>
    </div>
  </div>
  <div class="card max-h-[80vh] overflow-auto">
    <!-- <div class="relative"> -->
    <table class="table-auto table user-table">
      <thead class="text-stone-600">
        <tr class="sticky top-0 bg-white text-center">
          <th class="py-1">ID</th>
          <th class="py-1">Victim Name</th>
          <th class="py-1">Site of Bite</th>
          <th class="py-1">Species</th>
          <th class="py-1">Breed</th>
          <th class="py-1">Type of Ownership</th>
          <th class="py-1 sticky right-0">Action</th>
        </tr>
      </thead>
      <tbody class="table-body">
        @for(rabies of items; track $index){
        <tr>
          <td>
            <div class="flex justify-center py-1">{{ rabies.id }}</div>
          </td>
          <td>
            <div class="font-bold flex justify-center py-1">
              {{ rabies.victimName }}
            </div>
          </td>
          <td>
            <div class="flex justify-center py-1">{{ rabies.siteOfBite }}</div>
          </td>
          <td>
            <div class="flex justify-center py-1">{{ rabies.species }}</div>
          </td>
          <td>
            <div class="flex flex-row justify-center items-center p-1">
              {{ rabies.breed }}
            </div>
          </td>
          <td>
            <div class="flex flex-row justify-center items-center p-1">
              {{ rabies.typeOfOwnership }}
            </div>
          </td>
          @if (this._authS.userInfo?.accountType == 'agri') {
          <td class="w-2 p-3">
            <div class="flex items-center justify-center content-center">
              <button
                class="btn btn-square btn-sm ml-1"
                (click)="openViewRabiesSampleModal(rabies.id)"
              >
                <i class="fa-solid fa-eye"></i>
              </button>
            </div>
          </td>
          } @else {
          <td class="w-2 p-3 sticky right-0">
            <div class="flex justify-center gap-1">
              <button
                class="btn btn-square btn-sm"
                (click)="openViewRabiesSampleModal(rabies.id)"
              >
                <i class="fa-solid fa-eye"></i>
              </button>
              <button
                class="btn btn-square btn-sm"
                (click)="delete(rabies.sampleId)"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </td>
          }
        </tr>
        } @empty {
        <tr>
          <td colspan="6" class="text-center">No Data</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

@if (modalAddRabiesSubmission()) {
<app-add-rabies-submission
  class="z-20"
  (modalEvent)="this.modalAddRabiesSubmission.set($event)"
  (getAllMethod)="this.getAllRabiesSubmission()"
/>
} @else if (modalViewRabiesSample()) {
<app-viewrabiessample
  (modalEvent)="this.modalViewRabiesSample.set($event)"
  (getAllMethod)="this.getAllRabiesSubmission()"
  [information]="this.information"
/>
} @else if (modalClinicalLabResult()) {
<app-clinicallabresult
  *ngIf="this.information"
  (modalEvent)="this.modalClinicalLabResult.set($event)"
  (getAllMethod)="this.getAllRabiesSubmission()"
  [information]="this.information"
/>
} }
