<app-full-page-loader />
<div class="table-container w-full">
  <div class="flex flex-row justify-between w-full">
    <div class="search w-full flex items-center justify-start gap-1">
      <div class="search-input">
        <input
          type="text"
          placeholder="Search Data"
          class="input input-bordered w-full max-w-xs"
          [(ngModel)]="searchText"
        />
      </div>
      <button
        class="btn btn-square border-none text-white ml-1"
        [ngClass]="themeColor"
        (click)="applyFilter()"
      >
      <app-loadingbutton *ngIf="isLoadingButton()" />
        <i class="fa-solid fa-magnifying-glass" *ngIf="!isLoadingButton()"></i>
      </button>
      <button
        class="btn border-none text-white"
        [ngClass]="themeColor"
        (click)="this.HVacAddModal.set(true)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 6v12m6-6H6"
          />
        </svg>
        Add Data
      </button>
      <app-exportexcelbtn
        [data]="this._hvac.HVacs()"
        [fileName]="fileName"
        [themeColor]="themeColor"
      />
    </div>
  </div>

  <div class="card overflow-y-scroll overflow-x-hidden">
    <table class="table user-table">
      <thead class="text-stone-600 text-center">
        <tr class="sticky top-0 bg-white">
          <th class="py-1">Vaccine Name</th>
          <th class="py-1">Brand Name</th>
          <th class="py-1">Stock Quantity</th>
          <th class="py-1">Dosage</th>
          <th class="py-1">Date Expired</th>
          <th class="py-1 sticky right-0 bg-white top">Action</th>
        </tr>
      </thead>
      <tbody>
        @for(vaccine of items; track $index){
        <tr>
          <td>
            <div class="font-bold flex justify-center items-center">
              {{ vaccine.vacName }}
            </div>
          </td>
          <td>
            <div class="font-bold flex justify-center">
              {{ vaccine.brandName }}
            </div>
          </td>
          <td>
            <div class="flex justify-center">
              {{ vaccine.stockQuantity }}
            </div>
          </td>
          <td>
            <div class="flex justify-center">{{ vaccine.dosage }}</div>
          </td>
          <td>
            <div class="flex flex-row justify-center items-center">
              {{ vaccine.expiryDate | date : "MMM, dd, yyyy" }}
            </div>
          </td>
          @if (this._auth.userInfo?.accountType == 'abtc') {
          <td class="w-2 p-3 sticky right-0">
            <div class="flex justify-center">
              <button
                class="btn btn-square btn-sm ml-1"
                (click)="openHVacViewModal(vaccine.Hid)"
              >
                <i class="fa-solid fa-eye"></i>
              </button>
              <button
                class="btn btn-square btn-sm ml-1"
                (click)="openHVacEditModal(vaccine.Hid)"
              >
                <i class="fa-solid fa-pen"></i>
              </button>
              <button
                class="btn btn-square btn-sm ml-1 mr-1"
                (click)="(vaccine.Hid)"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </td>
          } @else {
          <td class="w-2 p-3">
            <div class="flex justify-center items-center">
              <button
                class="btn btn-square btn-sm ml-1"
                (click)="openHVacViewModal(vaccine.Hid)"
              >
                <i class="fa-solid fa-eye"></i>
              </button>
            </div>
          </td>
          }
        </tr>
        } @empty {
        <tr>
          <td colspan="6" class="text-center">No Data</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
@if (HVacAddModal()) {
<app-add
  (modalEvent)="this.HVacAddModal.set($event)"
  (getAllHumanVaccine)="getAllHumanVacine()"
/>
} @else if (HVacViewModal()) {
<app-view
  (modalEvent)="this.HVacViewModal.set($event)"
  (getAllHumanVaccine)="getAllHumanVacine()"
  [hVacInfo]="humanVacs"
/>
} @else if (HVacEditModal()) {
<app-edit
  (modalEvent)="this.HVacEditModal.set($event)"
  (getAllHumanVaccineMethod)="getAllHumanVacine()"
  [hVacInfo]="humanVacs"
/>
}
