<app-full-page-loader />
<div class="table-container w-full">
  <div class="flex flex-row justify-between w-full">
    <div class="search w-full flex items-center justify-start">

      <app-exportexcelbtn [data]="this._labservice.results()" [fileName]="fileName" [themeColor]="themeColor"/>
      <button
      [ngClass]="themeColor"
      class="btn  text-white ml-3 border-none"
      (click)="this.modalAdd.set(true)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 6v12m6-6H6"
        />
      </svg>
      Add Account
    </button>
    </div>


  </div>
  <div class="card max-h-[450px] overflow-auto">
    <!-- <div class="relative"> -->
    <table class="table-auto table user-table">
      <thead class="text-stone-600">
        <tr class="sticky top-0 bg-white">
          <th class="py-1 text-center">Name</th>
          <th class="py-1 text-center">Email</th>
          <th class="py-1 text-center">Address</th>
          <th class="py-1 text-center">Role</th>
          <th class="py-1 text-center">Action</th>
        </tr>
      </thead>
      <tbody class="table-body">
        @for(user of _labservice.results(); track $index){
        <tr>
          <td>
            <div class="font-bold flex justify-center py-1">{{ user.owner }}</div>
          </td>
          <td>
            <div class="flex justify-center py-1">{{ user.email }}</div>
          </td>
          <td>
            <div class="flex justify-center py-1">{{ user.address }}</div>
          </td>
          <td>
            <div class="flex flex-row justify-center items-center p-1">
              {{ user.diagnosis }}
            </div>
          </td>
          <td class="w-10">
            <div class="dropdown dropdown-left 2xl:dropdown-left">
              <div tabindex="0" role="button" class="btn m-1">Action</div>
              <ul
                tabindex="0"
                class="dropdown-content z-[1] menu p-2 shadow bg-base-200 rounded-box w-24"
              >
                <li><a (click)="openViewModal(user.labId)">View</a></li>
                <li><a (click)="openEditModal(user.labId)">Edit</a></li>
                <!-- <li><a (click)="deleteUser(user.id)">Delete</a></li> -->
              </ul>
            </div>
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="6" class="text-center">No Data</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
@if (modalAdd()) {
<app-clinicallabresult
  (modalEvent)="this.modalAdd.set($event)"
  (getAllMethod)="getAllLabResults()"
/>
}
@else if (modalView()) {
<app-viewlabresult
  (modalEvent)="this.modalView.set($event)"
  (getAllMethod)="getAllLabResults()"
  [information]="labresult"
/>
}
<!-- @else if (modalEdit()) {
<app-edit-user
  (modalEvent)="this.modalEdit.set($event)"
  (getAllUsersMethod)="getAllUsers()"
/>
} -->
