@if (isArchivedTable()) {
  <app-archive-labresult (archivedTable)="this.isArchivedTable.set(false)" (getAllMethod)="triggerTable()" />
} @else {
  <app-full-page-loader />
<div class="table-container w-full">
  <div class="flex flex-row justify-between w-full">
    <div class="search w-full flex items-center justify-start">
      <div class="search-input">
        <input
          type="text"
          placeholder="Search Data"
          class="input input-bordered w-full max-w-xs"
          [(ngModel)]="searchText"
        />
      </div>
      <button
        class="btn btn-square border-none text-white ml-1"
        [ngClass]="themeColor"
        (click)="applyFilter()"
      >
        <app-loadingbutton *ngIf="isLoadingButton()" />
        <i class="fa-solid fa-magnifying-glass" *ngIf="!isLoadingButton()"></i>
      </button>
      <app-exportexcelbtn
        [data]="this._labservice.results()"
        [fileName]="fileName"
        [themeColor]="themeColor"
      />
      <ng-container *appHasRole="['lab']">
        <button
        [ngClass]="themeColor"
        class="btn text-white ml-3 border-none"
        (click)="this.modalAdd.set(true)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 6v12m6-6H6"
          />
        </svg>
        Add
      </button>
      </ng-container>

      <button
        *ngIf="_authS.userInfo?.accountType == 'lab'"
        class="btn border-none text-white ml-3"
        [ngClass]="themeColor"
        (click)="triggerTable()"
      >
        <i class="fa-solid fa-trash-can"></i>
        View Archived Data
      </button>
    </div>
  </div>
  <div class="card max-h-[80vh] overflow-y-scroll">
    <!-- <div class="relative"> -->
    <table class="table-auto table">
      <thead class="text-stone-600">
        <tr class="sticky top-0 bg-white">
          <th class="py-1 text-center">Name</th>
          <th class="py-1 text-center">Email</th>
          <th class="py-1 text-center">Address</th>
          <th class="py-1 text-center">Diagnosis</th>
          <th class="py-1 text-center">Action</th>
        </tr>
      </thead>
      <tbody class="table-body">
        @for(user of items; track $index){
        <tr>
          <td>
            <div class="font-bold flex justify-center py-1">
              {{ user.owner }}
            </div>
          </td>
          <td>
            <div class="flex justify-center py-1">{{ user.email }}</div>
          </td>
          <td>
            <div class="flex justify-center py-1">{{ user.address }}</div>
          </td>
          <td>
            <div class="flex flex-row justify-center items-center p-1">
              {{ user.diagnosis }}
            </div>
          </td>
          @if (this._authS.userInfo?.accountType === 'lab') {
          <td class="w-2 p-3">
            <div class="flex justify-center">
              <button
                class="btn btn-square btn-sm ml-1"
                (click)="openViewModal(user.labId)"
              >
                <i class="fa-solid fa-eye"></i>
              </button>
              <button
                class="btn btn-square btn-sm ml-1 mr-1"
                (click)="deleteResult(user.labId)"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </td>
          } @else {
          <td class="w-2 p-3">
            <div class="flex justify-center">
              <button
                class="btn btn-square btn-sm ml-1"
                (click)="openViewModal(user.labId)"
              >
                <i class="fa-solid fa-eye"></i>
              </button>
            </div>
          </td>
          }
        </tr>
        } @empty {
        <tr>
          <td colspan="6" class="text-center">No Data</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  @if (modalAdd()) {
  <app-clinicallabresult
    (modalEvent)="this.modalAdd.set($event)"
    (getAllMethod)="getAllLabResults()"
  />
  } @else if (modalView()) {
  <app-viewlabresult
    (modalEvent)="this.modalView.set($event)"
    (getAllMethod)="getAllLabResults()"
    [information]="labresult"
  />
  }
</div>
}

