<div
  class="relative z-10"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 w-screen flex items-center sm:flex sm:items-center sm:justify-center sm:h-full">
    <div
      class="flex items-end justify-center p-4 text-center sm:items-center sm:flex sm:p-0"
    >
      <form class="w-full flex justify-center items-center" [formGroup]="rabiesSampleForm">
        <div
          class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all s sm:my-8 sm:w-90 sm:max-w-6xl md:max-w-6xl"
        >
          <div class="bg-white h-[90vh] px-4 pb-4 pt-5 sm:p-6 sm:pb-4 md:overflow-x-scroll md:h-[70vh] ">
            <h1
              class="text-2xl flex items-start font-extrabold text-slate-600 mb-2"
            >
              Animal Profile
            </h1>
            <div class="grid grid-cols-4 gap-3">
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Residence of Animal for  last 15 days:</span>
                    </div>
                    <input
                      type="text"
                      formControlName="residence"
                      placeholder="Enter Residence"
                      class="input input-bordered w-full"
                      ngDis
                    />
                  </label>
                </div>
              </div>
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Species</span>
                    </div>
                    <input
                      type="text"
                      class="input input-bordered w-full"
                      formControlName="species"
                      placeholder="Enter Address"
                    />
                  </label>
                </div>
              </div>
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Breed</span>
                    </div>
                    <input
                      type="text"
                      class="input input-bordered w-full"
                      formControlName="breed"
                      placeholder="Enter Breed"
                    />
                  </label>
                </div>
              </div>
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Gender</span>
                    </div>
                    <select
                      class="select select-bordered w-full"
                      formControlName="gender"
                    >
                      <option value="" disabled selected>
                        Please Select Gender
                      </option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                      <option value="other">Other</option>
                    </select>
                  </label>
                </div>
              </div>
            </div>
            <h1
              class="text-2xl flex items-start font-extrabold text-slate-600 mb-2 mt-4"
            >
              History Exposure
            </h1>
            <div class="grid grid-cols-4 gap-3">
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Age</span>
                    </div>
                    <input
                      type="number"
                      formControlName="Age"
                      placeholder="Age"
                      class="input input-bordered w-full"
                    />
                  </label>
                </div>
              </div>
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Gender</span>
                    </div>
                    <select
                      class="select select-bordered w-full"
                      formControlName="sex"
                    >
                      <option value="" disabled selected>
                        Please Select Gender
                      </option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                      <option value="other">Other</option>
                    </select>
                  </label>
                </div>
              </div>
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Date Bitten</span>
                    </div>
                    <input
                      type="date"
                      formControlName="dateBitten"
                      placeholder="Enter Date"
                      class="input input-bordered w-full"
                    />
                  </label>
                </div>
              </div>
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Place (Where Biting Occurred / Address)</span>
                    </div>
                    <input
                      type="text"
                      formControlName="bittenAt"
                      placeholder="Enter Place"
                      class="input input-bordered w-full"
                    />
                  </label>
                </div>
              </div>
            </div>
            <div class="grid grid-cols-3 gap-5">
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Type of Animal</span>
                    </div>
                    <input
                      type="text"
                      formControlName="typeOfAnimal"
                      placeholder="Enter Type of Animal"
                      class="input input-bordered w-full"
                    />
                  </label>
                </div>
              </div>
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Type</span>
                    </div>
                    <select
                      class="select select-bordered w-full"
                      formControlName="type"
                    >
                      <option value="" disabled selected>
                        B OR NB
                      </option>
                      <option value="b">B</option>
                      <option value="nb">NB</option>
                    </select>
                  </label>
                </div>
              </div>
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Site(Body Parts)</span>
                    </div>
                    <input
                      type="text"
                      formControlName="siteOfBite"
                      placeholder="Enter Site"
                      class="input input-bordered w-full"
                    />
                  </label>
                </div>
              </div>
            </div>
            <h1
              class="text-2xl flex items-start font-extrabold text-slate-600 mb-2 mt-4"
            >
            Post Exposure Prophylaxis
            </h1>
            <div class="grid grid-cols-3 gap-3">
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Category (1,2 and 3) </span>
                    </div>
                    <select
                      class="select select-bordered w-full"
                      formControlName="category"
                    >
                      <option value="" disabled selected>
                        Enter Category
                      </option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>
                  </label>
                </div>
              </div>
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Washing of Bite (Y/N)</span>
                    </div>
                    <select
                      class="select select-bordered w-full"
                      formControlName="washAfterbite"
                    >
                      <option value="" disabled selected>
                        Yes or No
                      </option>
                      <option value="true">Yes</option>
                      <option value="false">No</option>
                    </select>
                  </label>
                </div>
              </div>
              <div>
                <div class="sm:flex sm:items-center w-full">
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">RIG Date Given</span>
                    </div>
                    <input
                      type="date"
                      formControlName="dateRigGiven"
                      placeholder="Enter Breed"
                      class="input input-bordered w-full"
                    />
                  </label>
                </div>
              </div>
            </div>
            <h3 class="mb-4 mt-4 font-semibold text-gray-900 dark:text-white">
              Behavior Changes
            </h3>
            <ul
              class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white"
            >
              <ng-container *ngFor="let item of behaviorChanges; let i=index">
                <li
                  class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600"
                >
                  <div class="flex items-center ps-3">
                    <input
                      id="vue-checkbox"
                      type="checkbox"
                      formControlName="description"
                      [value]="item.value"
                      (change)="onCheckboxChange($event)"
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                    />
                    <label
                      for="vue-checkbox"
                      class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                      >
                      {{item.name}}
                    </label>
                  </div>
                </li>
              </ng-container>
            </ul>
          </div>


          <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
            <app-adddatabtn
              (method)="addRabiesSample()"
              (methodGetAll)="emitGetAll()"
              [addVacObservable]="addRabies$"
              (modalEvent)="closeModalAdd()"
            />
            <button
              type="button"
              class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
              (click)="this.modalEvent.emit(false)"
            >
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
