<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <form class="w-full flex justify-center items-center" [formGroup]="account">
          <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
            <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
              <div class="sm:flex sm:items-center w-full">
                <label class="form-control w-full">
                  <div class="label">
                    <span class="label-text">Clinic Name</span>
                  </div>
                  <input type="text" formControlName="name" placeholder="Ex. Petify Clinic" class="input input-bordered w-full" />
                </label>
              </div>
              <div class="sm:flex sm:items-center w-full">
                <label class="form-control w-full">
                  <div class="label">
                    <span class="label-text">Username</span>
                  </div>
                  <input type="text" formControlName="email" placeholder="Username" class="input input-bordered w-full" />
                </label>
              </div>
              <div class="sm:flex sm:items-center w-full">
                <label class="form-control w-full">
                  <div class="label">
                    <span class="label-text">Password</span>
                  </div>
                  <input type="text" formControlName="password" placeholder="Password" class="input input-bordered w-full" />
                </label>
              </div>
              <div class="sm:flex sm:items-center w-full">
                <label class="form-control w-full">
                  <div class="label">
                    <span class="label-text">Account Type</span>
                  </div>
                  <select class="select select-bordered w-full" formControlName="accountType" >
                    <option value="" disabled selected>Please Select Account Type</option>
                    <option value="abtc">ABTC</option>
                    <option value="agri">AGRI</option>
                  </select>
                </label>
              </div>
              <div class="sm:flex sm:items-center w-full">
                <label class="form-control w-full">
                  <div class="label">
                    <span class="label-text">Address</span>
                  </div>
                  <select class="select select-bordered w-full" formControlName="address" >
                    <option value="" disabled selected>Please Select Address</option>
                    <option *ngFor="let items of municipipalities" [value]="items.municipalityName">{{items.municipalityName}}</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
              <button type="button" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-700 sm:ml-3 sm:w-auto" (click)="addAccount()">Add Account</button>
              <button type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto" (click)="closemodaladd()">Cancel</button>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
