
.loader {
  pointer-events: none;
  width: 70px;
  height: 70px;
  border: 15px solid transparent;
  border-color: #EBE8E3;
  border-radius: 50%;
  animation: fullpagespinner 0.6s linear infinite;
}
.admin{
  border-top-color: rgb(22 163 74);
}
.lab{
  border-top-color: rgb(22 163 74);
}
.abtc{
  border-top-color: rgb(30 64 175);
}
.agri{
  border-top-color: rgb(153 27 27);
}
@keyframes fullpagespinner {
  100% {
      transform: rotate(360deg)
  }
}



body {

  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}
